<!DOCTYPE html>
<html>
  <head>
    <title>Words</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1>Word List</h1>
    <% console.log(wordsList)%>
    <%if(wordsList.length){ wordsList.forEach(element => {%>
    { %>
    <p>
      <a href="/words/single-word/ <%= element.id %>"></a>
        <%= element.word %>
      </a>
    </p>
    <% })}else{ %>
    <h1>No Words Found</h1>
    <% } %>

    <button>
      <a style="color: gray; text-decoration: none"
        href="/api/v1/words/add-word">Add A Word</a>
    </button>
  </body>
</html>
